<div class="cf ques-container">
	<div class="ques-num">Question {{ num_c }} of {{ num_q }}</div>
	<img class="prompt-photo" src="{{ img }}">
	<div class="prompt"><p>{{ prompt }}</p></div>
	<div class="selection a"><p>{{ a }}</p></div>
	<div class="selection b"><p>{{ b }}</p></div>
	<div class="selection c"><p>{{ c }}</p></div>
	<div class="selection d"><p>{{ d }}</p></div>
	<div class="blurb-container"></div>
	<div class="next-container"></div>
</div>
